
# Postgres (DB)
POSTGRES_USER=glitchtip
POSTGRES_PASSWORD=password
POSTGRES_DB=glitchtip

# App Settings
SECRET_KEY=change_me_in_production_random_string_at_least_32_chars
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@monitoring_postgres:5432/${POSTGRES_DB}
REDIS_URL=redis://monitoring_redis:6379/0
PORT=40005
EMAIL_URL=consolemail://
GLITCHTIP_DOMAIN=http://localhost:${PORT}
DEFAULT_FROM_EMAIL=glitchtip@localhost
